<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgcn</property>
    <property name="hibernate.connection.username">sgcn</property>
    <property name="hibernate.connection.password">sgcn</property>
    <!--        <property name="hibernate.hbm2ddl.auto">none</property>-->
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <!--        <property name="hibernate.current_session_context_class">thread</property>-->
    <!--        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>-->
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.max_size">5</property>
    <property name="hibernate.c3p0.timeout">180</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_statements">5</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <!--        <property name="c3p0.debug">false</property>-->
    <mapping class="entity.Usuario"/>
    <mapping class="entity.Permissao"/>
    <mapping class="entity.UsrPermissao"/>
    <mapping class="entity.Regional"/>
    <mapping class="entity.mci.RamoEmpreendimento"/>
    <mapping class="entity.Estado"/>
    <mapping class="entity.Cidade"/>
    <mapping class="entity.Bairro"/>
    <mapping class="entity.Endereco"/>
    <mapping class="entity.mac.ContraPartida"/>
    <mapping class="entity.Telefone"/>
    <mapping class="entity.mac.Aditivo"/>
    <mapping class="entity.mac.Vigencia"/>
    <mapping class="entity.mac.Anexo"/>
    <mapping class="entity.mac.Contato"/>
    <mapping class="entity.mac.ConvHistorico"/>
    <mapping class="entity.mac.HistoricoInterno"/>
    <mapping class="entity.mac.Arquivo"/>
    <mapping class="entity.mac.Convenio"/>
    <mapping class="entity.mac.Investimento"/>
    <mapping class="entity.mac.Ministerio"/>
    <mapping class="entity.mac.NatDespesa"/>
    <mapping class="entity.mac.FluxoFinConcedente"/>
    <mapping class="entity.mac.FluxoFinProponente"/>
    <mapping class="entity.mci.Publico"/>
    <mapping class="entity.mci.Escolaridade"/>
    <mapping class="entity.mci.EstadoCivil"/>
    <mapping class="entity.mci.BeneficioHabitacional"/>
    <mapping class="entity.mci.BeneficioSocial"/>
    <mapping class="entity.mci.Atividade"/>
    <mapping class="entity.mci.Parentesco"/>
    <mapping class="entity.mci.Despesa"/>
    <mapping class="entity.mci.NecEspecial"/>
    <mapping class="entity.mci.Cidadao"/>
    <mapping class="entity.mci.DomAbastecimento"/>
    <mapping class="entity.mci.DomEscoamento"/>
    <mapping class="entity.mci.DomIluminacao"/>
    <mapping class="entity.mci.DomConstrucao"/>
    <mapping class="entity.mci.DomMoradia"/>
    <mapping class="entity.mci.DomPavimentacao"/>
    <mapping class="entity.mci.DomColetaLixo"/>
    <mapping class="entity.mci.DomSituacao"/>
    <mapping class="entity.mci.Domicilio"/>
    <mapping class="entity.mci.Cursos"/>
    <mapping class="entity.mci.CursosSecretaria"/>
    <mapping class="entity.mci.CidBenSociais"/>
    <mapping class="entity.mci.CidBenHabits"/>
    <mapping class="entity.mci.CidAtividades"/>
    <mapping class="entity.mci.CidDespesas"/>
    <mapping class="entity.mci.CidBensDuraveis"/>
    <mapping class="entity.mci.BensDuraveis"/>
    <mapping class="entity.mci.BemDuravel"/>
    <mapping class="entity.mci.CidAssociados"/>
    <mapping class="entity.mci.Dependente"/>
    <mapping class="entity.mci.Equipamento"/>
    <mapping class="entity.mci.EquipamentosProprios"/>
    <mapping class="entity.mci.EquipamentosSecretaria"/>
    <mapping class="entity.mgc.Curso"/>
    <mapping class="entity.mgc.TurCidadaos"/>
    <mapping class="entity.mgc.TurmaLocal"/>
    <mapping class="entity.mgc.Turma"/>
    <mapping class="entity.mpm.Plano"/>
    <mapping class="entity.mpm.AtividadeEmp"/>
    <mapping class="entity.mpm.Foto"/>
    <mapping class="entity.mpm.Rendimento"/>
    <mapping class="entity.mpm.Empreendimento"/>
    <mapping class="entity.mpm.Microcredito"/>
    <mapping class="entity.mpm.LocalInvestimento"/>
    <mapping class="entity.mpm.Produto"/>
    <mapping class="entity.mpm.Produtos"/>
    <mapping class="entity.mpm.Servico"/>
    <mapping class="entity.mpm.Servicos"/>
    <mapping class="entity.mpm.Meta"/>
    <mapping class="entity.mpm.MetasEmpresariais"/>
    <mapping class="entity.mpm.MetasPessoais"/>
    <mapping class="entity.mpm.PontoComercial"/>
    <mapping class="entity.mpm.PontoForteInterno"/>
    <mapping class="entity.mpm.PontoForteExterno"/>
    <mapping class="entity.mpm.PontoFracoInterno"/>
    <mapping class="entity.mpm.PontoFracoExterno"/>
    <mapping class="entity.mpm.PontosFortesInternos"/>
    <mapping class="entity.mpm.PontosFortesExternos"/>
    <mapping class="entity.mpm.PontosFracosInternos"/>
    <mapping class="entity.mpm.PontosFracosExternos"/>
    <mapping class="entity.mpm.Projeto"/>
    <mapping class="entity.mpm.Responsavel"/>
    <mapping class="entity.mpm.MicroLocalInvest"/>
    <mapping class="entity.mpm.MicroLocalInvestFin"/>
    <mapping class="entity.mpm.HistoricoVisita"/>
  </session-factory>
</hibernate-configuration>
